@font-face {
    font-family: font-index;
    src: url(fonts/BuffalordDemoItalic.ttf);
}

@font-face {
    font-family: font-header;
    src: url(fonts/Whalebone\ DEMO.otf);
}

@font-face {
    font-family: font-card;
    src: url(fonts/MudheadFREE.otf);
}

#font {
    font-family: font-index;
    color: rgb(240, 240, 48);
    -webkit-text-stroke: 1px teal;
}


#text {
    font-family: font-header;
}

#text-card, #text-modal {
    font-family: font-card;
}

#text-edit, #text-header {
    font-family: font-index;
    color: whitesmoke;
}

#view {
    background-image: url(../img/bg-football1.jpg);  
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center center;
    max-width: 100%;
}

#viewTeam {
    background-color: rgb(32, 146, 32);
}

#viewTeam{
    background-color: #f1c40f;
    -webkit-animation: color 5s ease-in  0s infinite alternate running;
    -moz-animation: color 5s linear  0s infinite alternate running;
    animation: color 5s linear  0s infinite alternate running;
}

@-webkit-keyframes color {
0% { background-color: #f1c40f; }
32% { background-color: #e74c3c; }
55% { background-color: #9b59b6; }
76% { background-color: #16a085; }
100% { background-color: #2ecc71; }
}
@-moz-keyframes color {
0% { background-color: #f1c40f; }
32% { background-color: #e74c3c; }
55% { background-color: #9b59b6; }
76% { background-color: #16a085; }
100% { background-color: #2ecc71; }
}
@keyframes color {
0% { background-color: #f1c40f; }
32% { background-color: #e74c3c; }
55% { background-color: #9b59b6; }
76% { background-color: #16a085; }
100% { background-color: #2ecc71; }
}
